name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Run Clippy with warnings as errors
      run: cargo clippy --all-targets --all-features
      env:
        RUSTFLAGS: "-Dwarnings"
    - name: Run Cargo fmt
      run: cargo fmt --all -- --check
